@import url('https://fonts.googleapis.com/css2?family=Anton&family=Open+Sans&display=swap');

html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

body {
    font-family: 'Poppins';
    font-weight: 600;
    margin: 0;
    background: #000;
    color: white;
}

.header {
    background: url(/img/road-g9875459d1_1920\ 1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 750px;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.menu {
    display: flex;
    align-items: center;
}

.nav__link {
    margin-right: 35px;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
}

.logo__img {
    margin-right: 283px;
}

.lng {
    margin-left: 279px;
    text-decoration: none;
    text-transform: uppercase;
    color: #B7B7B7;
}

.lng:last-child {
    margin-left: 0;
}

.lng.active {
    color: white;
}

.text-info {
    margin-top: 153px;

    font-weight: 700;
    font-size: 48px;
    color: white;
}

.btn {
    margin-top: 53px;

    font-size: 18px;
    font-weight: 500;
    padding: 11px 48px;
    background: #DB2512;
    display: inline-block;
}

.btn__link {
    text-transform: uppercase;
    text-decoration: none;
    color: white;
}