html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: 'Roboto';
    font-size: 16px;
}

h1 {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    width: 1200px;
    margin: 0 auto;
}

.nav a {
    text-decoration: none;
    color: #fafafa;
    margin-right: 30px;
}

.header {
    background: gray;
    height: 100vh;
}

.phone-num a {
    text-decoration: none;
    color: #fafafa;
}

.menu {
    display: flex;
}

.phone-num {
    margin-left: auto;
}

/* Псевдо-классы и псевдо-теги */

.box {
    margin-top: 1000px;
    height: 200px;
    width: 200px;
    background: yellow;
}

ul, li {
    display: block;
}

.ul-el li:before {
    content: '* ';
    color: blue;
}

.ul-el li {
    margin-right: 50px;
}

.ul-el {
    display: flex;
    
}

.ul-el li:hover {
    color: blue;
}

p::first-line {
    color: red;
}

p::first-letter {
    font-size: 50px;
    color: rgb(0, 8, 255);
}