@import url('https://fonts.googleapis.com/css2?family=Anton&family=Open+Sans:wght@400;700&family=Tinos&display=swap');
html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 14px;
    color: white;
    font-weight: 400;
}

h1 {
    padding: 0;
    margin: 0;
}

ul, li {
    padding: 0;
    margin: 0;
}

.container {
    width: 1200px;
    margin: 0 auto;
    word-wrap: break-word;
}

.header {
    background: url(/img/hero\ image.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.nav_link {
    margin-right: 30px;

    text-transform: uppercase;
    text-decoration: none;
    color: white;
}

.nav_link:last-child {
    margin-right: 0;
}

.menu {
    padding-top: 10px;
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 268px;
}

.icon-phone {
    margin-left: 104px;
}

.phone_num {
    margin-left: 10px;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
}

.btn-icon {
    margin-left: 45px;
    font-weight: 700;
    color: white;
    padding: 18px 14px;
    background: #FF7400;
    text-transform: uppercase;
}

.cart {
    margin-left: 40px;
}

.header__text{
    margin-top: 229px;

    font-family: 'Tinos';
    font-weight: 400;
    color: #D67E35;
}

.text-head {
    font-size: 50px;
}

.text-foot {
    margin-left: -25px;
    font-size: 80px;
}

.header__button2 {
    margin-left: 150px;

    text-transform: uppercase;
    text-decoration: none;
    color: white;
    padding: 14px 28px;
    background: #FF7400;
}

.button2 {
    margin-top: 72px;
}

.button__icon {
    text-decoration: none;
    color: white;
}

.intro__text {
    color: black;
}

.intro {
    font-family: 'Tinos';
    font-weight: 400;
    display: flex;
}

.intro__icon {
    margin-bottom: 270px;
    margin-left: -295px;
}

.intro__text1 {
    margin-bottom: 20px;
    padding: 0px 15px;

    font-size: 26px;
    margin-top: -200px;
    color: black;
}

.intro__text2 {
    padding: 0px 15px;

    font-size: 26px;
    display: inline-block;
    color: #656363;
}

.intro__text {
    text-align: center;
    font-family: 'Tinos';
    font-weight: 400;


    margin-top: -260px;
    margin-left: 35px;
    width: 370px;
}

.dif-color {
   color: #BC9060;
}

.info__intro {
    margin-top: 138px;
    display: flex;
}

.main_cont {
    margin-left: 166px;
    text-align: center;
    width: 444px;
    height: 217px;
    margin-top: 166px;
    color: black;
}

.text-history {
    font-size: 16px;
    font-size: 54px;
    font-weight: 400;
}

.text-under-history {
    margin-top: 21px;
    font-weight: 400;
    color: #656363;
}

.food-menu {
    display: flex;
}

.n {
    text-align: center;
    font-size: 40px;
    padding: 0 60px;

}